<%= form_for(@time_type, html: {class: 'form-horizontal'}) do |f| %>
    <% if @time_type.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@time_type.errors.count, "error") %> prohibited this time_type from being saved:</h2>

          <ul>
            <% @time_type.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field form-group">
      <%= f.label :name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="field form-group">
      <%= f.label :short_name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= f.text_field :short_name, class: 'form-control', maxlength: 2 %>
      </div>
    </div>

    <div class="field form-group">
      <%= f.label :color, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <% if @time_type.new_record? %>
           <%= f.color_field :color, {value: '#ffffff'}%>
        <% else %>
            <%= f.color_field :color %>
        <% end %>
      </div>
    </div>

    <div class="actions form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: 'btn btn-success' %>
      </div>
    </div>
<% end %>
