<p id="notice"><%= notice %></p>

<h1>Listing Time Types</h1>


<div class="row">
  <div class="col-xs-12" style="text-align: right;" >
    <%= link_to 'New Time type', new_time_type_path, class: 'btn btn-success' %>
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Short name</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_types.each_with_index do |time_type, index| %>
      <tr>
        <td><%=index+1 %></td>
        <td><%= time_type.name %></td>
        <td><%= time_type.short_name %></td>
        <td><%= color_field_tag time_type.color, time_type.color, disabled: true%> </td>
        <td><%= link_to 'Show', time_type %></td>
        <td><%= link_to 'Edit', edit_time_type_path(time_type) %></td>
        <td><%= link_to 'Destroy', time_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

