<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @time_type.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @time_type.short_name %>
</p>

<p>
  <strong>Color:</strong>
  <%= color_field_tag @time_type.color, @time_type.color, disabled: true%>
</p>

<%= link_to 'Edit', edit_time_type_path(@time_type), class: 'btn btn-default' %>
<%= link_to 'Back', time_types_path, class: 'btn btn-default' %>
