<%= form_for(@month_info, html: {class: 'form-horizontal'}) do |f| %>
    <% if @month_info.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@month_info.errors.count, "error") %> prohibited this month_info from being saved:</h2>

          <ul>
            <% @month_info.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field form-group">
      <%= f.label :month, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.date_select :month, discard_day: true, class: 'form-control' %>
        <input type="text" data-provide='datepicker' >


      </div>




    </div>

    <div class="field form-group">
      <%= f.label :editable, class: 'col-sm-2 control-label' %>
      <div class="col-sm-1" >
        <%= f.check_box :editable, class: 'form-control', style:'height: 20px;'%>
      </div>
    </div>

    <div class="field form-group">
      <%= f.label :quota, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.number_field :quota, class: 'form-control' %>
      </div>
    </div>

    <div class="actions form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: 'btn btn-success' %>
      </div>
    </div>

<% end %>


