<p id="notice"><%= notice %></p>

<h1>Listing Month Infos</h1>

<div class="row">
  <div class="col-xs-12" style="text-align: right;" >
    <%= link_to 'New Month info', new_month_info_path, class: 'btn btn-success' %>
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Month</th>
      <th>Editable</th>
      <th>Quota</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @month_infos.each_with_index  do |month_info, index| %>
      <tr>
        <td><%=index+1 %></td>
        <td><%= month_info.month.to_formatted_s(:month_and_year) %></td>
        <td style='padding-left: 20px;'>  <% if month_info.editable %>
              <span class="glyphicon glyphicon-check"></span>
          <% else %>
              <span class="glyphicon glyphicon-unchecked"></span>
          <% end %>
        </td>
        <td><%= month_info.quota %></td>
        <td><%= link_to 'Show', month_info %></td>
        <td><%= link_to 'Edit', edit_month_info_path(month_info) %></td>
        <td><%= link_to 'Destroy', month_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
