<p id="notice"><%= notice %></p>

<p>
  <strong>Month:</strong>
  <%= @month_info.month.to_formatted_s(:month_and_year)  %>
</p>

<p>
  <strong>Editable:</strong>
  <% if @month_info.editable %>
      <span class="glyphicon glyphicon-check"></span>
  <% else %>
      <span class="glyphicon glyphicon-unchecked"></span>
  <% end %>

</p>

<p>
  <strong>Quota:</strong>
  <%= @month_info.quota %>
</p>

<%= link_to 'Edit', edit_month_info_path(@month_info), class: "btn btn-default" %>
<%= link_to 'Back', month_infos_path, class: "btn btn-default" %>