<%= form_for(@user_info, html: {class: 'form-horizontal'}) do |f| %>
    <% if @user_info.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user_info.errors.count, "error") %> prohibited this user_info from being saved:</h2>

          <ul>
            <% @user_info.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field form-group">
      <%= f.label :email, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.email_field :email, class: 'form-control' %>
      </div>
    </div>
    <div class="field  form-group">
      <%= f.label :quota, class: 'col-sm-2 control-label' %><br>

      <div class="col-sm-4">
        <%= f.number_field :quota, class: 'form-control' %>
      </div>
    </div>
    <div class="field">
      <%= f.label :user_active, class: 'col-sm-2 control-label' %><br>
      <div class="col-sm-1">
        <%= f.check_box :user_active, class: 'form-control', style:'height: 20px;' %>
      </div>
    </div>
    <div class="actions form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: 'btn btn-success' %>
      </div>
    </div>
<% end %>
