<p id="notice"><%= notice %></p>

<h1>Listing User Infos</h1>


<div class="row">
  <div class="col-xs-12" style="text-align: right;" >
    <%= link_to 'New User Info', new_user_info_path, class: 'btn btn-success' %>
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Email</th>
      <th>Quota</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_infos.each_with_index do |user_info, index| %>
      <tr>
        <td><%=index+1 %></td>
        <td><%= user_info.email %></td>
        <td><%= user_info.quota %></td>
        <td style='padding-left: 20px;'>
          <% if user_info.user_active %>
              <span class="glyphicon glyphicon-check"></span>
          <% else %>
              <span class="glyphicon glyphicon-unchecked"></span>
          <% end %>
        <td><%= link_to 'Show', user_info %></td>
        <td><%= link_to 'Edit', edit_user_info_path(user_info) %></td>
        <td><%= link_to 'Destroy', user_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

