<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user_info.email %>
</p>

<p>
  <strong>Quota:</strong>
  <%= @user_info.quota %>
</p>

<p>
  <strong>Active:</strong>
  <% if @user_info.user_active %>
      <span class="glyphicon glyphicon-ok"></span>
  <% else %>
      <span class="glyphicon glyphicon-unchecked"></span>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_info_path(@user_info), class: 'btn btn-default' %>
<%= link_to 'Back', user_infos_path, class: 'btn btn-default' %>
