<!-- app/views/shared/_navigation.html.erb -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">TimeCard</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Time Card', time_cards_path %></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to 'Month Info', month_infos_path %></li>
        <li><%= link_to 'Time Types', time_types_path %></li>
        <li><%= link_to 'User Info', user_infos_path %></li>
      </ul>
    </div>
  </div>
</nav>
