<div class="panel panel-default" style="margin: 0">
  <div class="panel-heading">
    <h3 class="panel-title day-title">
      <%= if time_card_day
            link_to day.day, edit_time_card_path(time_card_day)
          else
            link_to day.day, new_time_card_path(:selected_day => day)
          end
      %>
    </h3>
  </div>
  <%
     if !time_card_day.nil? && !time_card_day.time_type_id.nil?
       _color_panel_background = time_card_day.time_type.color
     else
       _color_panel_class = 'working-from-home' if !time_card_day.nil? && time_card_day.working_home
       _color_panel_class = 'on-call' if !time_card_day.nil? && time_card_day.on_call
     end
  %>

  <div class="panel-body <%= _color_panel_class %>" style="background-color: <%= _color_panel_background %>">
    <%= if time_card_day.nil?
          link_to populate_time_card_path(:day => day), :method => :post do %>
            <button class="btn btn-flat btn-default btn-cell" type="button">
              <span class="badge-hour">FILL</span>
            </button>
        <% end
           else
             link_to edit_time_card_path(time_card_day) do %>
            <button class="btn btn-primary btn-cell" type="button">

              <% # display the time type short name
                 if time_type_exist?(time_card_day) %>
                  <span class="badge-hour"><%= time_card_day.time_type.short_name %></span>
              <% else
                   # display the hours and extra time
                   if time_card_day.hours_worked > time_card_day.quota_day %>
                      <span class="glyphicon glyphicon-plus-sign"></span>
                  <% elsif time_card_day.hours_worked < time_card_day.quota_day %>
                      <span class="glyphicon glyphicon-minus-sign"></span>
                  <% end %>
                  <span class="badge-hour"><%= time_card_day ? time_card_day.hours_worked : '' %></span>
                  <span class="badge"><%= time_card_day ? time_card_day.quota_day : '' %></span>
              <% end %>
            </button>
        <% end # end do
           end # if timecard.nil?  %>

    <p style="margin-bottom:10px; "></p>

    <div class="row">
      <div class="col-xs-6">
        <span class="badge"><%= time_card_day.leaving_time unless time_card_day.nil? %></span>
        <label><%= '' if time_card_day.nil? %></label>
      </div>
      <div class="col-xs-6">
        <span class="badge"><%= time_card_day.overtime unless time_card_day.nil? %></span>
        <label><%= '' if time_card_day.nil? %></label>
      </div>
    </div>


  </div>
</div>