<%= form_for(@time_card, html: {class: 'form-horizontal'}) do |f| %>
    <% if @time_card.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@time_card.errors.count, 'error') %> prohibited this time_card from being saved:</h2>

          <ul>
            <% @time_card.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :day, class: 'col-lg-2 control-label' %>
      <div class="col-lg-8">
        <span class="label label-default"><%= @time_card.day %></span>
        <!--f.date_select :day -->
      </div>
    </div>
    <div class="form-group">
      <%= f.label :time_type_id, class: 'col-lg-2 control-label' %>
      <div class="col-lg-8">
        <%= f.select(:time_type_id, TimeType.all.collect {|p| [ p.name, p.id ] }, include_blank: 'None', class: 'dropdown') %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :on_call, class: 'col-lg-2 control-label' %>
      <div class="col-lg-4">
        <%= f.check_box :on_call %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :working_home, class: 'col-lg-2 control-label' %>
      <div class="col-lg-4">
        <%= f.check_box :working_home %>
      </div>
    </div>


    <div class="form-group">
      <%= f.label :hours_worked, class: 'col-lg-2 control-label' %><br>

      <div class="col-lg-4">
        <%= f.number_field :hours_worked, class: "form-control" %>
      </div>
    </div>


    <div class="form-group">
      <%= f.label :quota_day, class: 'col-lg-2 control-label' %>
      <div class="col-lg-4">
        <%= f.number_field :quota_day, class: "form-control", disabled: '' %>
      </div>
    </div>

    <div><hr></div>

    <div class="form-group">
      <%= f.label :leaving_time, class: 'col-lg-2 control-label' %>
      <div class="col-lg-4">
        <%= f.number_field :leaving_time, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :overtime, class: 'col-lg-2 control-label' %>
      <div class="col-lg-4">
        <%= f.number_field :overtime, class: "form-control"%>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :comment, class: 'col-lg-2 control-label' %>
      <div class="col-lg-8">
        <%= f.text_area :comment, class: "form-control", rows: 2 %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit class: 'btn btn-primary'%>
        <span></span>
        <%= link_to 'Destroy', @time_card, method: :delete, data: {confirm: 'Are you sure?'} ,
                    class: 'btn btn-default', style:'float: right'%>
      </div>
    </div>

<% end %>
