<p id="notice"><%= notice %></p>

<h1>Listing Time Cards</h1>

<div class="row" style="padding-bottom: 20px">
  <div class="col-xs-3 col-xs-offset-1">
        <%= label_tag('datetimepicker10', 'Selected Month') %>
    </div>
  <div class="col-xs-5">

        <div class='input-group date' id='datetimepicker10'>
          <input type='text' class="form-control"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar">
                </span>
            </span>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker10').datetimepicker({
                    viewMode: 'years',
                    format: 'MM/YYYY',
                    defaultDate: '<%=@current_date%>'
                });
            });
        </script>
  </div>
</div>

<div class="row time-card-calendar">
  <div class="col-xs-10">
    <%= calendar(:year => @current_date.year, :month => @current_date.month, :first_day_of_week => 1, :show_today => true,
                 :month_header => false, :show_other_months => false) do |d|
      [render(partial: 'day_cell', locals: {time_card_day: time_card_with_day(@time_cards,d), day:d}), {class: 'time-card-cell'}]
    end
    %>
  </div>
</div>
<br>
<br>











<!--<div class="row">-->
  <!--<div class="col-xs-12" style="text-align: right;">-->
    <!--<!%= link_to 'New Time card', new_time_card_path, class: 'btn btn-success' %>-->
  <!--</div>-->
<!--</div>-->

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Day</th>
    <th>On call</th>
    <th>Working home</th>
    <th>Comment</th>
    <th>Hours worked</th>
    <th>Quota day</th>
    <th>Leaving time</th>
    <th>Overtime</th>
    <th>Time type</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @time_cards.each do |time_card| %>
      <tr>
        <td><%= time_card.day %></td>
        <td><%= time_card.on_call %></td>
        <td><%= time_card.working_home %></td>
        <td><%= time_card.comment %></td>
        <td><%= time_card.hours_worked %></td>
        <td><%= time_card.quota_day %></td>
        <td><%= time_card.leaving_time %></td>
        <td><%= time_card.overtime %></td>
        <td><%= time_card.time_type_id %></td>
        <td><%= link_to 'Show', time_card %></td>
        <td><%= link_to 'Edit', edit_time_card_path(time_card) %></td>
        <td><%= link_to 'Destroy', time_card, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

