<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @time_card.day %>
</p>

<p>
  <strong>On call:</strong>
  <%= @time_card.on_call %>
</p>

<p>
  <strong>Working home:</strong>
  <%= @time_card.working_home %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @time_card.comment %>
</p>

<p>
  <strong>Hours worked:</strong>
  <%= @time_card.hours_worked %>
</p>

<p>
  <strong>Quota day:</strong>
  <%= @time_card.quota_day %>
</p>

<%= link_to 'Edit', edit_time_card_path(@time_card) %> |
<%= link_to 'Back', time_cards_path %>
