// Place all the styles related to the TimeCards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.time-card-cell{
  //padding: 0;
}

.day-title{
  text-align: right;
}

.time-card-calendar .calendar{
  color: #333333;
}

.time-card-calendar .calendar .dayName th{
  text-align: center;
  font-size: 1em;
}

td.time-card-cell .panel-body{
  padding: 4px;
}
td.time-card-cell .btn-cell{
  padding: 0;
  width: 100%;
  margin-top: 2px;
}

.badge-hour{
  font-weight: bolder;
  font-size: 2em;
  padding-right: 30px;
}
td.time-card-cell .panel-body a
{
  background-color: inherit;
}

td.time-card-cell .panel-body .btn .glyphicon{
 position: absolute;
  top: 0px;
  right: 0px;
}

td.weekendDay .panel-heading{
  background-color: #7D7D7D;
}

td.weekendDay .panel-body .working-from-home,
.working-from-home{
  background-color: #00b0f0;
}

td.weekendDay .panel-body .on-call,
.on-call{
  background-color: #dd7e6b;
}

td.time-card-cell .panel-body input.extra-time{
  width: 50%;
  min-width: 40px;
}
