// Place all the styles related to the TimeTypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.rectangle {
  width: 100px;
  height: 20px;
}