<!DOCTYPE html>
<html>
<head>
  <title>TimeCard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/navigation' %>



<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-12">
      <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: "alert alert-#{name}" %>
      <% end -%>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 ">
      <%= yield %>
    </div>
  </div>
</div>


</body>
</html>
